.big-banner {
      position: relative;
      width: calc(100vw - 15px);
      /* 스크롤 바 위치 픽셀 - */
      max-width: 1920px;
      height: 500px;
      overflow: hidden;
      left: 50%;
      transform: translateX(-50%);
    }

    .slide {
      display: flex;
      transition: transform 0.5s ease;
      width: 100vw;
    }

    .sld {
      width: 100%;
      height: 500px;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: stretch;
      justify-content: stretch;
    }

    .sld img {
      width: 100vw;
      height: 100%;
      object-fit: fill;
      object-position: center;
      display: block;
    }

    .S-img {
      position: absolute;
      bottom: 25px;
      left: 340px;
      display: flex;
      gap: 8px;
    }

    .sss {
      width: 42px;
      height: 42px;
      object-fit: cover;
      cursor: pointer;
      border: 1px solid transparent;
      transition: border 0.3;
    }

    .sss:hover {
      border: 1px solid white;
    }

    .image-box {
      width: 1280px;
      height: 239px;
      margin: 100px auto 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
    }

    .image-box img {
      width: calc((1280px - 20px * 2) / 3);
      height: 110px;
      object-fit: cover;
      border-radius: 8px;
      background-color: #ddd;
    }

    @media (max-width: 1080px) {
  .big-banner {
    width: calc(100% - 40px); /* 좌우 마진 20px씩 확보 */
    height: 700px;
    margin: 10px 20px 0 20px; /* top: 10px, 좌우 20px */
    left: 0;                  /* 중앙정렬 해제 */
    transform: none;         /* 중앙정렬 트랜스폼 해제 */
  }

  .sld img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 깔끔하게 채워지도록 */
  }
}